body{
    text-align: center;
    background-color: #222222;
    font-family: Ubuntu, sans-serif;
    color: white;
}

#header{
    background-color: #121212;
    display: block;
    margin-bottom: 0px;
}

#homeButton{
    background-color: #121212;
    color: white;
    border-radius: 50px;
    border-style: hidden;
}

#inputBox{
    width: 500px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

#feedback{
    font-size: 50pt;
    font-family: "Ubuntu", sans-serif;
}

#wordInputLabel{
    font-size: 15pt;
    display: block;
    margin-top: 30px;
    margin-bottom: 0px;
}

#wordCounterTitle{
    font-size: 30pt;
    color: lightskyblue;
    margin-bottom: 0px;
}

#submitButton{
    border-radius: 10px;
    background-color: white;
    width: 7em;
    height: 3em;
}

#wordCounterButton{
    text-decoration: none;
    width: 50em;
    height: 5em;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(93, 53, 121);
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

#wordCounterButton:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

h1{
    font-weight: bold;
}